/*
 * IoT Aggregator API
 *
 * Sample API for aggregating data from multiple IoT devices and returning stored running averages.
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using HistorianService.Models;
using Swashbuckle.AspNetCore.SwaggerGen;
using ServiceStore;
using Microsoft.Extensions.Logging;

namespace HistorianService.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class DefaultApiController : Controller
    {

     private readonly IStore store;
     private readonly ILogger logger;

     public DefaultApiController(IStore store, ILogger<DefaultApiController> logger)
     {
         this.store = store;
         this.logger = logger;
     }

        /// <summary>
        /// Add data generated from a device to the aggregator
        /// </summary>
        /// <remarks>Adds a data point from an IoT device. The aggregator selects the historian service, posts data to it, and receives the running average. Then updates its store for the history of running averages by device id and type.</remarks>
        /// <param name="deviceType">Device type</param>
        /// <param name="deviceId">Device ID</param>
        /// <param name="dataPointId">Each data point needs to have a unique ID</param>
        /// <param name="value">Value registered by the device.</param>
        /// <response code="201">Data added successfully.</response>
        /// <response code="401">Invalid input parameter.</response>
        /// <response code="500">An unexpected error occurred.</response>
       [HttpPost]
        [Route("/v1/deviceData/{deviceId}")]
        [SwaggerOperation("AddDeviceData")]
        [SwaggerResponse(201, type: typeof(float?))]
        public virtual IActionResult AddDeviceData([FromRoute]string deviceId, [FromQuery]string datapointId, [FromQuery]DateTime? timestamp, [FromQuery]float? value)
        {
            var key = $"{deviceId};{datapointId}";

            if (!this.store.Exists(key) && value.HasValue)
            {
                this.store.Add(key, value.Value);
                this.logger.LogInformation($"Added {value.Value} for {key} to the store at {timestamp}.");
            }

            if (!value.HasValue){
                this.logger.LogError($"No value found for {key}.");
                return BadRequest($"No data value for device: {deviceId} and datapoint {datapointId}");
            }

            var average = this.store.GetAll().Where( i => i.Key.StartsWith(deviceId)).Average( v => v.Value);

            this.logger.LogInformation($"Returning {average}.");
            return Created("", average);
        }


        /// <summary>
        /// Get the running averages of a device type given a date range.
        /// </summary>
        /// <remarks>Returns the running average of a device type given a date range, averaged by the minute.</remarks>
        /// <param name="deviceType">Device type</param>
        /// <param name="fromTime">Start of the date range.</param>
        /// <param name="toTime">End of the date range.</param>
        /// <response code="200">Running averages per minute</response>
        /// <response code="400">Invalid input parameter.</response>
        /// <response code="500">An unexpected error occurred.</response>
        [HttpGet]
        [Route("/v1/averageByDeviceType/{deviceType}")]
        [SwaggerOperation("AverageByDeviceTypeDeviceTypeGet")]
        [SwaggerResponse(200, type: typeof(List<InlineResponse200>))]
        public virtual IActionResult AverageByDeviceTypeDeviceTypeGet([FromRoute]string deviceType, [FromQuery]DateTime? fromTime, [FromQuery]DateTime? toTime)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<InlineResponse200>>(exampleJson)
            : default(List<InlineResponse200>);
            return new ObjectResult(example);
        }
    }
}
